<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
  <head>
    <title>Math 514</title>
    <meta charset="utf-8" />
    <meta name="author" content="Sally Matson, Fiona Paine" />
    <link href="libs/remark-css/default.css" rel="stylesheet" />
    <link href="libs/remark-css/default-fonts.css" rel="stylesheet" />
    <link rel="stylesheet" href="test.css" type="text/css" />
  </head>
  <body>
    <textarea id="source">
class: center, middle, inverse, title-slide

# Math 514
## TD-Gammon
### Sally Matson, Fiona Paine
### (updated: 2019-04-24)

---




# TD Gammon 

TD Gammon is a a neural-network based algorithm that plays backgammon at a near expert level.
--

- Developed by Gerald Tesauro in 1992
--

- Uses temoral-difference learning &amp; eligibility trace to update
--

- Begins with no strategy knowledge

---

# Backgammon Rules
Backgammon is an interesting game to use to train an AI because of its complexity.

---

# The Algorithm 

The neural network is a *value function* that should be able to predict, given any board configuration, the realtive advantage of each player.
--

### Heuristics:
--

- We only know the *actual* relative advantage at the end of the game (win = 1, loss = 0.)
--

  + **Idea**: At the end of the game we can calculate error: 1 - expected value. Can we backpropegate this? 
--

- Yes. However, moves leading up to the end of the game influence the later position -- you can't just back propegate error once at the end. 
--

  + **Problem**: How can we continually update the value function, not just once at the end, even though we don't have an absolute value unless it's a win or loss? 

---

# The Algorithm (cont.)

### Backprop weight updates:

 .content-box-blue[
  `$$W_{t+1} = W_{t} + \alpha \frac{\delta C_t}{\delta W_t} \\ b_{t+1} = b_{t} + \alpha \frac{\delta C_t}{\delta b_t}$$` where *t* is an increment of time. 
 ]

--

### Issue 
Only take into account current gradient. 
---

# Eligibility Traces


 .content-box-blue[
  `$$e_t = \lambda e_{t-1} + \frac{\delta C_t}{\delta \theta_t}$$`
  ]

---

# Eligibility Traces (cont.)

### Let's unpack that:

.content-box-blue[
`$$\\ e_0 = 0 \\ e_1 = 0 + \frac{\delta C_1}{\delta \theta_1} \\ e_2 = \lambda(\frac{\delta C_1}{\delta \theta_1}) + \frac{\delta C_2}{\delta \theta_2} \\ e_3 = \lambda[\lambda(\frac{\delta C_1}{\delta \theta_1}) + \frac{\delta C_2}{\delta \theta_2}] + \frac{\delta C_3}{\delta \theta_3}$$`
]

---

# Tuning

Now, we have an algorithm that takes into account the move history, using hyperparameter `\(\lambda\)` to weigh recent moves more heavily. 
--


#### Using `\(\lambda = 0\)`, 
`$$e_t = 0 *e_{t-1} + \frac{\delta C_t}{\delta \theta_t} = \frac{\delta C_t}{\delta \theta_t}$$`
--

**Result**: Mostly looks at recent game states. 
--


#### Using `\(\lambda = 1\)`,
`$$e_t = 1 *e_{t-1} + \frac{\delta C_t}{\delta \theta_t} = 1 * [1*(\frac{\delta C_1}{\delta \theta_1}) + \frac{\delta C_2}{\delta \theta_2}...] + \frac{\delta C_t}{\delta \theta_t} \\= \frac{\delta C_1}{\delta \theta_1} + \frac{\delta C_2}{\delta \theta_2} + ... + \frac{\delta C_n}{\delta \theta_n}$$`
--

**Result**: Counts all game states equally. 

---


# The Algorithm (cont.)

### Error Value
 .content-box-blue[
  `$$error$$` 
 ]

### New weight updates:

 .content-box-blue[
  `$$W_{t+1} = W_{t} + \alpha * e_t * \text{error}  \\ b_{t+1} = b_{t} + \alpha \frac{\delta C_t}{\delta b_t}$$` where *t* is an increment of time. 
 ]

--

---
# Teasuro's Implementation Details


---

# Our GUI 

The second aspect of our project is to implement the TD Gammon algorithm to play against a human.

We use R Shiny Server to make an interactive game board that follows the rules of Backgammon discussed earlier in the presentation.

Players
- Human
- Random Turn
- AI Agent

The AI Agent takes a set of pretrained weights and uses the feed forward algorithm to determine which move out of it's set of possible moves gives it the highest probability of winning. 

---

![:scaleimgpct 65%](images/board.png)

---


# Current State of the Algorithm 
- Spent time working with TensorFlow, haven't gotten it to work 
- Implementing using Vanilla R 
- Challenges:
  + Use of Objects in R is new
  + Focus on good, readable code and architecture


---


# Plans
Ideas for experimentation with the algorithm:
- Adding multiple hidden layers 
- Using Relu instead of sigmoid 
- Using varying numbers of nodes in hidden layer 
- Using momentum or other tuning strategies 

---
    </textarea>
<style data-target="print-only">@media screen {.remark-slide-container{display:block;}.remark-slide-scaler{box-shadow:none;}}</style>
<script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
<script src="macros.js"></script>
<script>var slideshow = remark.create({
"highlightStyle": "github",
"highlightLines": true,
"countIncrementalSlides": false
});
if (window.HTMLWidgets) slideshow.on('afterShowSlide', function (slide) {
  window.dispatchEvent(new Event('resize'));
});
(function(d) {
  var s = d.createElement("style"), r = d.querySelector(".remark-slide-scaler");
  if (!r) return;
  s.type = "text/css"; s.innerHTML = "@page {size: " + r.style.width + " " + r.style.height +"; }";
  d.head.appendChild(s);
})(document);

(function(d) {
  var el = d.getElementsByClassName("remark-slides-area");
  if (!el) return;
  var slide, slides = slideshow.getSlides(), els = el[0].children;
  for (var i = 1; i < slides.length; i++) {
    slide = slides[i];
    if (slide.properties.continued === "true" || slide.properties.count === "false") {
      els[i - 1].className += ' has-continuation';
    }
  }
  var s = d.createElement("style");
  s.type = "text/css"; s.innerHTML = "@media print { .has-continuation { display: none; } }";
  d.head.appendChild(s);
})(document);
// delete the temporary CSS (for displaying all slides initially) when the user
// starts to view slides
(function() {
  var deleted = false;
  slideshow.on('beforeShowSlide', function(slide) {
    if (deleted) return;
    var sheets = document.styleSheets, node;
    for (var i = 0; i < sheets.length; i++) {
      node = sheets[i].ownerNode;
      if (node.dataset["target"] !== "print-only") continue;
      node.parentNode.removeChild(node);
    }
    deleted = true;
  });
})();</script>

<script>
(function() {
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    if (/^(https?:)?\/\//.test(links[i].getAttribute('href'))) {
      links[i].target = '_blank';
    }
  }
})();
</script>

<script>
slideshow._releaseMath = function(el) {
  var i, text, code, codes = el.getElementsByTagName('code');
  for (i = 0; i < codes.length;) {
    code = codes[i];
    if (code.parentNode.tagName !== 'PRE' && code.childElementCount === 0) {
      text = code.textContent;
      if (/^\\\((.|\s)+\\\)$/.test(text) || /^\\\[(.|\s)+\\\]$/.test(text) ||
          /^\$\$(.|\s)+\$\$$/.test(text) ||
          /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {
        code.outerHTML = code.innerHTML;  // remove <code></code>
        continue;
      }
    }
    i++;
  }
};
slideshow._releaseMath(document);
</script>
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
(function () {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src  = 'https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML';
  if (location.protocol !== 'file:' && /^https?:/.test(script.src))
    script.src  = script.src.replace(/^https?:/, '');
  document.getElementsByTagName('head')[0].appendChild(script);
})();
</script>
  </body>
</html>
