<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
  <head>
    <title>Math 514</title>
    <meta charset="utf-8" />
    <meta name="author" content="Sally Matson, Fiona Paine" />
    <link href="libs/remark-css/default.css" rel="stylesheet" />
    <link href="libs/remark-css/default-fonts.css" rel="stylesheet" />
    <link rel="stylesheet" href="test.css" type="text/css" />
  </head>
  <body>
    <textarea id="source">
class: center, middle, inverse, title-slide

# Math 514
## TD-Gammon
### Sally Matson, Fiona Paine
### (updated: 2019-04-24)

---





# TD Gammon 

## Sally todo
TD Gammon is a an algorithm that plays backgammon at a near expert level.

- Developed by Gerald Tesauro in 1992
- Uses temoral-difference learning 

---

# Backgammon Rules
Backgammon is an interesting game to use to train an AI because of its complexity.
---

# Background Research 
## Sally todo

---


# Algorithm Mechanics

## Sally todo
---


# Our GUI 

The second aspect of our project is to implement the TD Gammon algorithm to play against a human.

We use R Shiny Server to make an interactive game board that follows the rules of Backgammon discussed earlier in the presentation.

Players
- Human
- Random Turn
- AI Agent

---

The AI Agent takes a set of pretrained weights and uses the feed forward algorithm to determine which move out of it's set of possible moves gives it the highest probability of winning. 

---
![:scaleimgpct 65%](./board.png)
---

# Current State of the Algorithm 
## Sally todo

---


# Plans
## Fiona &amp; Sally todo


---
# Xaringan

The following slides give examples of how to use Xaringan to format presentation slides. It isn't a template for your presentation, but it should help speed up preparation for Wednesday.

If you examine this `Rmd` file you will see that slides are separated by a line starting with three dashes: `---`. It's that easy.

Most slides start with a title. Titles are lines that begin with a single hash: `#`. It's that easy.

Line returns are not meaningful.
This line will continue right after the previous even though there is a line return after the first line.

You need an empty line to start a new paragraph.

*This is an italic line*

**This is a bold line**

This line uses embedded `R-code` to calculate `\(\pi=3.1415927\)`. That's `R-code` embedded inside inline `\(\LaTeX\)`. 


---

#Xaringan

You should be able to install Xaringan using RStudio `Tools-&gt;Install Packages`. If that doesn't work use the following code chunk:


```r
devtools::install_github("yihui/xaringan")
```

Here's a [link](https://slides.yihui.name/xaringan/) to the Xaringan introduction slides.

You can see the `Rmd` file that generates the Xaringan intro slides by creating a new Xaringan presentation in RStudio as follows:

`File -&gt; New File -&gt; R Markdown -&gt; From Template -&gt; Ninja Presentation`

Use `UTF-8` when saving the Ninja Presentation. 

These slides and the Xaringan introduction slides should cover everything you need.

---
# Image with Related Quote/Footnote

.medium[
&gt;Speaking with Axios on the sidelines of an AI conference in Toronto on Wednesday, Hinton, a professor emeritus at the University of Toronto and a Google researcher, said he is now "deeply suspicious" of back-propagation, the workhorse method that underlies most of the advances we are seeing in the AI field today, including the capacity to sort through photos and talk to Siri. "My view is throw it all away and start again," he said&lt;sup&gt;1&lt;/sup&gt;
]

.center[ ![:scaleimgpct 70%](./images/hinton.png) ]

.footnote-blue[

[1] Quoted from [Axios](https://www.axios.com/artificial-intelligence-pioneer-says-we-need-to-start-over-1513305524-f619efbd-9db0-4947-a9b2-7a4c310a28fe.html)
]

---

#H1 Size Title

##H2 Size Subtitle

###H3 Size Sub-subtitle

Here's how you bold words and set a footnote reference. The .bold[Xaringan] project is on **GitHub**&lt;sup&gt;1&lt;/sup&gt;

If you want to you can .large[.bold[.red[use size and color]]] to make content stand out

Xaringan is intended to be easy and flexible. Xaringan formatted Rmd files are preprocessed by `remark.js` to produce `HTML`. The associated `css` and `js` files allow for customization. If you examine the included `test.css` and `macros.js` files it should be clear how you can add your own custom elements. You will find code for `.large`, `.bold` and `.red` in `test.css`


.footnote-blue[

[1] See [GitHub](https://arxiv.org/pdf/1608.06993.pdf) for xaringan code

]

---
# Customized CSS

The included `test.css` file contains a few useful formatting tools. Here's an example

```
.content-box-blue {
    background-color: #e6f0ff;
    border-radius: 5px;
    padding: 20px;
 }
 ```
 
 You can use this definition to make something stand out. For example, here's the `sigmoid` function:
 
 .content-box-blue[
  `$$\sigma(x)=\frac{1}{1+e^{-x}}$$`
 
 ]
 
---
# Including Images/Macros.js

Including images can be tedious because of sizing problems. To make things easier there is are `javascript` macros in the file `macros.js` that let you scale an image. Here is the syntax. Note that static images should go in the `./images` folder.

```
![:scaleimgpct 60%](./images/pca_layer0.PNG)
```
![:scaleimgpct 60%](./images/pca_layer0.PNG)

---

# Default CSS

You can add any definitions you want to the file `text.css`. The Xaringan standard `css` file is `libs -&gt; remark-css -&gt; default.css`. You should not edit this file, but  it contains many useful definitions. For example, `.pull-left` and `.pull-right` are demonstrated below

```
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
```

.pull-left[
.green[ **Left Side** ] 

]

.pull-right[
.blue[ **Right Side** ]
]

---
#Including Images 2

Now use `.pull-left, .pull-right` to include images side-by-side

.pull-left[
**PCA separation of MNIST data**
![](./images/pca_layer0.PNG)

]

.pull-right[
**PCA separation of layer 4 activations (MNIST input)**
![](./images/pca_layer4.PNG)
]



---


#Example Slide/Lists with builds

###Numbered List with build
Build elements are separated by lines that start with two dashes: `--`. During your presentation the `down-arrow` key will advance the build

1. first numbered item
  + sub item
--

1. second numbered item
--

1. third item

--

###Un-numbered list without build

- first un-numbered item
  + sub item
- second un-numbered item

---
#Dynamic Plots

`R-code` can be used to dynamically compute a plot. Dynamically generated plots are saved in `&lt;rmd_file_name&gt;_files -&gt; figure-html`. The file name is the code chunk name followed by a hyphen and a graph number. 

It's good practice to separate plot generation from plot display. The code below will create a `png` file called `xlnx-1.png`. Because `fig.show="hide"` it won't be displayed. The resulting graph is displayed twice on the next slide.


```
{r xlnx,echo=TRUE,fig.show="hide",fig.width=7,fig.height=3}
pars=par(no.readonly = TRUE)
par(mar=c(4,4,1,.1))
grid=seq(0,1,length.out = 100)
plot(grid,grid*log(grid),ylab="x*log(x)",xlab="x",ylim=c())
par(pars)
```



---

# Left-Right Plots

On this slide the plot generated previously is displayed. The left side uses inline `R-code` to find the image. The right side uses explicit file naming.

.pull-left[

.content-box-blue[
  ![:scaleimgpct 90%](presentation_files/figure-html/xlnx-1.png, template_files/figure-html/xlnx-1.png)
]
]

.pull-right[

.content-box-green[
  ![:scaleimgpct 75%](./template_files/figure-html/xlnx-1.png)
]
]

---



#Table Example

.pull-left[

![:scaleimgpct 85%](./template_files/figure-html/dvol-1.png)
]

.pull-right[
&lt;table&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:right;"&gt; dim &lt;/th&gt;
   &lt;th style="text-align:right;"&gt; vol &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:right;"&gt; 2 &lt;/td&gt;
   &lt;td style="text-align:right;"&gt; 3.1415927 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:right;"&gt; 5 &lt;/td&gt;
   &lt;td style="text-align:right;"&gt; 5.2637890 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:right;"&gt; 8 &lt;/td&gt;
   &lt;td style="text-align:right;"&gt; 4.0587121 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:right;"&gt; 11 &lt;/td&gt;
   &lt;td style="text-align:right;"&gt; 1.8841039 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:right;"&gt; 14 &lt;/td&gt;
   &lt;td style="text-align:right;"&gt; 0.5992645 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:right;"&gt; 17 &lt;/td&gt;
   &lt;td style="text-align:right;"&gt; 0.1409811 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:right;"&gt; 20 &lt;/td&gt;
   &lt;td style="text-align:right;"&gt; 0.0258069 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

- Distance to corner of cube grows as `\(\sqrt{d}\)`.  For `\(d&gt;4\)` the cube corners extend past the unit sphere.

- Because factorial grows faster than exponential `\(\operatorname{Vol}(S^d) \rightarrow 0\)` as `\(d \rightarrow \infty\)`

**Note:** `\(\Gamma (n)=(n-1)!\)`

---
#Diagrams

There is an easy to use online graphical editor for diagrams. I used [mathcha](https://www.mathcha.io/) for all the diagrams in my slides. Once you create a diagram you can download using the **`image`** button at the top of the editor. Some recommendations

- Select **`png`** for download format
- Check **`Background Transparent`** and **`No Grid`** in the **`image`** dialogue
- After downloading use a tool like paint to tightly crop the image

**Example**
.center[ ![:scaleimgpct 75%](./images/mathcha_example.png) ]

---

#Rayleigh Quotient

.pull-left[
For real symmetric A

`$$R(A,\mathbf{y})= \frac{\mathbf{y}^T A\mathbf{y}}{\mathbf{y}^T \mathbf{y}}$$`
`$$\min_{\mathbf{y}}{R(A\mathbf{y})}=R(A,v_{min}(A))=\lambda_{min}$$`
`$$\max_{\mathbf{y}} R(A\mathbf{y})=R(A,v_{min}(A))=\lambda_{max}$$`
]

.pull-right[

![](./images/rayleigh_quotient.png)

]


---

#MNIST Reconstruction

.pull-left[
**10 Eigen Digits**
![](./images/mnist_recon_10.png)
]

.pull-right[
**64 Eigen Digits**
![](./images/mnist_recon_64.png)
]
  
---

#Stochastic Neighbor Embedding

**SNE**&lt;br&gt;
Map high-dimensional data points to two or three dimensions for visualization
- If high-dimensional data lie on a low dimensional manifold, want to preserve that structure.&lt;br&gt;
- PCA will preserve low dimensional manifold only if it is linear.&lt;br&gt;
- SNE tries to preserve 'neighborhoods' without explicitly learning the manifold.&lt;br&gt;

![:scaleimgpct 90%](./images/manifold.png)

---

#SNE
.pull-left[
Let `\(\mathbf{x}^{(i)}, i=1, \cdots,m\)` be points in a high dimensional space `\(\mathbb{R}^d\)`

Create proximity measure for each point

`$$x_{ij}^2=\left \| x^{(i)}-x^{(j)} \right \|^2$$`
![:scaleimgpct 60%](images/7b-17.png)
]

.pull-right[

To emphasize nearness, map distances using exponential

`$$p_{j | i}= \frac{e^{- {x_{ij}^2}/({2 \sigma_i^2})}}{\sum_{k \neq i} e^{-{x_{ik}^2}/({2 \sigma_i^2})}}$$`
&lt;br&gt;&lt;br&gt;
**Note:** have softmax'd the vector `\(-{x_{ij}^2}/{(2 \sigma_i^2)}\)` for `\(j \neq i\)` to create probability distribution for each `\(i\)`

&lt;br&gt;
[Stochastic Neighbor Embedding, Hinton, Roweiss (2002)](https://cs.nyu.edu/~roweis/papers/sne_final.pdf) by Hinton, Roweis

]
    </textarea>
<style data-target="print-only">@media screen {.remark-slide-container{display:block;}.remark-slide-scaler{box-shadow:none;}}</style>
<script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
<script src="macros.js"></script>
<script>var slideshow = remark.create({
"highlightStyle": "github",
"highlightLines": true,
"countIncrementalSlides": false
});
if (window.HTMLWidgets) slideshow.on('afterShowSlide', function (slide) {
  window.dispatchEvent(new Event('resize'));
});
(function(d) {
  var s = d.createElement("style"), r = d.querySelector(".remark-slide-scaler");
  if (!r) return;
  s.type = "text/css"; s.innerHTML = "@page {size: " + r.style.width + " " + r.style.height +"; }";
  d.head.appendChild(s);
})(document);

(function(d) {
  var el = d.getElementsByClassName("remark-slides-area");
  if (!el) return;
  var slide, slides = slideshow.getSlides(), els = el[0].children;
  for (var i = 1; i < slides.length; i++) {
    slide = slides[i];
    if (slide.properties.continued === "true" || slide.properties.count === "false") {
      els[i - 1].className += ' has-continuation';
    }
  }
  var s = d.createElement("style");
  s.type = "text/css"; s.innerHTML = "@media print { .has-continuation { display: none; } }";
  d.head.appendChild(s);
})(document);
// delete the temporary CSS (for displaying all slides initially) when the user
// starts to view slides
(function() {
  var deleted = false;
  slideshow.on('beforeShowSlide', function(slide) {
    if (deleted) return;
    var sheets = document.styleSheets, node;
    for (var i = 0; i < sheets.length; i++) {
      node = sheets[i].ownerNode;
      if (node.dataset["target"] !== "print-only") continue;
      node.parentNode.removeChild(node);
    }
    deleted = true;
  });
})();</script>

<script>
(function() {
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    if (/^(https?:)?\/\//.test(links[i].getAttribute('href'))) {
      links[i].target = '_blank';
    }
  }
})();
</script>

<script>
slideshow._releaseMath = function(el) {
  var i, text, code, codes = el.getElementsByTagName('code');
  for (i = 0; i < codes.length;) {
    code = codes[i];
    if (code.parentNode.tagName !== 'PRE' && code.childElementCount === 0) {
      text = code.textContent;
      if (/^\\\((.|\s)+\\\)$/.test(text) || /^\\\[(.|\s)+\\\]$/.test(text) ||
          /^\$\$(.|\s)+\$\$$/.test(text) ||
          /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {
        code.outerHTML = code.innerHTML;  // remove <code></code>
        continue;
      }
    }
    i++;
  }
};
slideshow._releaseMath(document);
</script>
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
(function () {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src  = 'https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML';
  if (location.protocol !== 'file:' && /^https?:/.test(script.src))
    script.src  = script.src.replace(/^https?:/, '');
  document.getElementsByTagName('head')[0].appendChild(script);
})();
</script>
  </body>
</html>
